<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #00594F"></span>
		<span class="sg-label">
			$color-brand-green <br />
				#00594F
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #614B79"></span>
		<span class="sg-label">
			$color-brand-purple <br />
			#614B79
		</span>
	</li>
</ul>
