<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #28334A;"></span>
		<span class="sg-label">
            $color-utility-positive <br />
            #28334A
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #CFB023;"></span>
		<span class="sg-label">
			$color-utility-caution <br />
				#CFB023
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #C26E60;"></span>
		<span class="sg-label">
			$color-utility-negative <br />
			#C26E60
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: 	#75787B;"></span>
		<span class="sg-label">
			$color-utility-neutral <br />
			#75787B
		</span>
	</li>
</ul>
